<div class="container">
    <div class="card" id="info">
        <div class="card-title move" id="business-name">
            <h2>{{user_info.name}}</h2>
        </div>
        <div class="card-text move">
            Email: {{user_info.email}}
        </div>
        <div class="card-text move">
            Phone: {{user_info.phone}}
        </div>
        
    </div>

    
<div class="container" id="pendings">
    <div class="move">
        <h3>Service Requests</h3>
    </div>
    
    <div class="card-text move">
            
        {{#each user_info.pendings as |request|}}
                <div class="card request">

                    <div class="card-title move">
                        <h3>Title: {{request.name}}</h3> 
                    </div>

                    <div class="card-body">

                        <div class="card-text move">
                            Description: {{request.description}}
                        </div>
                        <div class="card-text move">
                            Address: {{request.address}}
                        </div>
                    </div>

                    <div class="card-body">
                        {{#if request.approved}}
                        <div class="card-text">
                            Request Status: Approved
                        </div>
                        <div class="card-text">
                            Review: {{request.review.review_text}}
                        </div>
                        {{else}}
                        <div class="card-text">
                            Request Status: Pending Approval
                        </div>
                        {{/if}}

                    </div>


                </div>
            {{/each}}
            
        </div>
    </div>

</div>