<div class="container">
    <div class="card" id="info">
        <div class="card-title move" id="business-name">
            <h2>{{vendor_info.business_name}}</h2>
        </div>
        <div class="card-text move">
            Owned by: {{vendor_info.name}}
        </div>
        <div class="card-text move">
            Category: {{vendor_info.category.name}}
        </div>
        <div class="card-text move">
            Email: {{vendor_info.email}}
        </div>
        <div class="card-text move">
            Phone: {{vendor_info.phone}}
        </div>
        
    </div>

    <div class="card" id="chatBtn">
        <div class="card-title moveMore">
            <p>Click the icon in the bottom of the page to chat with the vendor!</p>
        </div>
    </div>

    {{#if vendor_info.reviews.length}}
    <div class="card" id="review">
        <div class="card-title move">
            <h4>Reviews</h4>
        </div>
    
        <div class="card-text moveMORE">
            <ul>
            {{#each vendor_info.reviews as |review|}}
                <li>{{review.review_text}}</li>
            {{/each}}
            </ul>
        </div>
    </div>
    {{/if}}

    <div class="card">
        <form class="card-body">
            <div class="form-group">
                <label for="req_name" class="form-label">
                    Title of requested service
                </label>
                <input id="req_name" type="text" lass='form-control'>
            </div>

            <div class="form-group">
                <label for="req.description" class="form-label">
                    Detailed description of requested service
                </label>
                <input id="req.description" type="text" lass='form-control'>
            </div>

            <div class="form-group">
                <label for="req.address" class="form-label">
                    Service Address
                </label>
                <input id="req.address" type="text" lass='form-control'>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="d982b479-af3b-4f99-846a-76e5c9e81075";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>